/* @theme lecture */
@import 'default';

h1 {
    font-weight: normal;
    font-size: 3em;
    line-height: 1em;
    color: #323E4F
}

h1>small {
    font-size: .4em;
    font-style: italic;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    clear: left;
    border-top: 1px solid #5B9BD5;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
    color: #2E74B5;
    text-align: center;
}

h3 {
    font-size: 2.2em;
    font-weight: normal;
    margin-bottom: .5em;
    font-variant: small-caps;
    text-align: center;
    color: #5B9BD5;
}

h4 {
    color: #8496B0;
    font-size: 1.4em;
    line-height: 1.1em;
}

li {
    font-size: 1.3em;
    line-height: 1.1em;
    list-style-type: none;
}

section::after {
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: .7em;
}

section.summary1 li, 
section.summary2 li, 
section.summary3 li, 
section.summary4 li,
section.summary5 li {
    color: #808080;
    font-size: 1.5em;
    line-height: 1.4em;
}

section.summary1 li:before, 
section.summary2 li:before, 
section.summary3 li:before, 
section.summary4 li:before, 
section.summary5 li:before {
    display: inline-block;
    width: 3.3em;
    text-align: right;
    margin-right: .2em;
    content: ' ';
}

section.summary2 li:nth-child(-n + 1):before,
section.summary3 li:nth-child(-n + 2):before,
section.summary4 li:nth-child(-n + 3):before,
section.summary5 li:nth-child(-n + 4):before {
    content: '\2713';
}

section.summary1 li:nth-child(1):before,
section.summary2 li:nth-child(2):before,
section.summary3 li:nth-child(3):before,
section.summary4 li:nth-child(4):before,
section.summary5 li:nth-child(5):before {
    content: '\2794';
}
